discovery.type=single-node
xpack.security.enabled=false
ES_JAVA_OPTS=-Xms1g -Xmx1g
ELASTICSEARCH_HOSTS=http://elasticsearch:9200
SERVER_PUBLICBASEURL=http://localhost:5601
XPACK_SECURITY_ENABLED=false
